#bin
bin/*
!bin/256*
!bin/backup
!bin/dotsync
!bin/fuzztime/*
!bin/fuzzytime
!bin/lock_keys

# Flexget
flexget/*
!flexget/config.yml

# weechat
weechat/logs/
weechat/urlserver_list.txt
weechat/weechat.log

# zsh
zsh/zsh/history*

# misc
*~
*.back
*_fifo_*
*.log
*.stackdump