# Flexget
flexget/*
!flexget/config.yml

# vim
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

# weechat
weechat/weechat.log
weechat/logs/

# zsh
zsh/zsh/history*

# misc
*~
*.back
*_fifo_*
*.log
*.stackdump