[Unit]
Description=MPRIS2 support for MPD
Requires=mpd.service
After=mpd.service graphical.target

[Service]
ExecStart=/usr/bin/mpDris2

[Install]
WantedBy=graphical.target
