[Unit]
Description=tmux default session (detached)
Documentation=man:tmux(1)

[Service]
Type=oneshot
RemainAfterExit=yes
ExecStart=/usr/bin/tmux new-session -s %u -d \; neww -t%u:0 weechat
ExecStop=/usr/bin/tmux kill-session -t %u
KillMode=none

[Install]
WantedBy=default.target
